html {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1C3738;
  width: 100%;
}

/* @media (min-width: 768px) {
  html {
    font-size: 16px;
  }
} */

/* .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
} */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  
}

ul.navbar-nav {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 145px;
}

ul.navbar-nav a{
  color: #FFFAEF;
  font-weight: bold;
  display: flex;
}

#logo {
  height: 300px;
}

p {
  color: #FFFAEF;
}

a:hover {
  color: #ddc67e !important;
}

/* .landing {
  height: 100vh;
  width: 100vw;
  background-image:url('../images/landing.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10%;
  margin-top: -45%;
  display: flex;
  flex-direction: column;
} */

.landing { 
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image:url('../images/landing.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  margin-top: -30%;
  margin-bottom: -12%;
}

.landing-small {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image:url('../images/landing.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  margin-top: -45%;
  margin-bottom: -19%;
}

.landing-small h1{
  padding-top: 20%;
}

.landing h1 {
  font-size: 28px;
  line-height: 63px;
  letter-spacing: 9%;
  color: #1C3738;
}

 button {
  background-color: #905941;
  color: #FFFAEF;
  width: 130px;
  height: 40px;
}

#secton-1{
  margin: 5px;
}

.categories {
  display: flex;
  flex-direction: column;
}

.category {
  width: 100%;
  max-height: 370px;
  display: flex;
  flex-direction: row;
  background-color: #FFFAEF;
  justify-items: center;
}

.category a {
  text-decoration: underline;
  height: 450px;
  width: 50%;
  padding-top: 150px;
  color: #000F08;
  
}

.titles {
  font-size: 26px;
  color: #000F08;
  text-transform: uppercase;
}

.category img {
  height: 450px;
  width: 50%;
  margin-top: -75px;
}

.break {
  height: 80px;
  width: 100%;
  background-color: #1C3738;
  margin-top: -70px;
}

.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: #1C3738;
  padding-top: 5%;
  border-top: 1px solid #FFFAEF;
}

.subscribe form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subscribe-text {
  margin-right: 5%;
}

.subscribe input {
  width: 50%;
  height: 30px;
}

.category-items {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.category-product {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.category-product-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.category-product-item img {
  width: 400px;
  height: 340px;
}

.category-product-item a {
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFAEF;
  margin-bottom: 15px;
}

.cakes {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.product-family {
  display: flex;
  flex-direction: row;
  height: 300px;
  margin-top: -1px;
  border-bottom: 1px solid #FFFAEF;
}

.product {
  
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: -5%;
}

.family-thumbnail {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #FFFAEF;
  width: 40%;
  height: 100%;
  align-items: center;
}

.family-thumbnail a {
  font-size: 18px;
  color: #000F08;
  text-transform: uppercase;
  margin-top: 8%;

}

.product-family img {
  width: 250px;
  height: 250px;
  margin-top: -10%;
}

.product-description {
  margin-top: 5%;
  margin-left: 2%;

}

.price {
  text-align: start;
}

.cart {
  margin-top: -58%;
  margin-right: -10%;
  width: 90px;
}

.description {
  padding: 5%;
  color:#fffaef;
}

.price-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.toppings {
  padding: 5%;
  color: #000F08;
  line-height: 30px;
}

.toppings label input {
   
}

footer {
  background-color:#FFFAEF ;
}