@{
    ViewData["Title"] = "Here is our cake selection!";
}

<div class="landing-small">
    <h1>CAKES</h1>
</div>

<div class="cakes">
    <div class="product-family">
        <div class="product">
            <div class="family-thumbnail text-center">
                <a asp-controller="Home" asp-action="Cheesecake">Cheesecake</a>
                <img src="../images/cheesecake.png" alt="Cakes" />
            </div>
            <div class="product-description">
                <p>PRICE:$50</p>
                <p>CALORIES: 350 - 750</p>
                <p>SIZE: 1KG</p>
                <p>SERVES: 6</p>
                 <a asp-controller="Home" asp-action="Cheesecake">
                <button>Add to Cart</button>
                 </a>
            </div>
        </div>
    </div>
    <div class="product-family">
        <div class="product">
            <div class="family-thumbnail text-center">
                <a asp-controller="Home" asp-action="Cheesecake">carrot cake</a>
                <img src="../images/carrot-cake.png" alt="Cakes" />
            </div>
            <div class="product-description">
                <p>PRICE:$50</p>
                <p>CALORIES: 350 - 750</p>
                <p>SIZE: 1KG</p>
                <p>SERVES: 6</p>
                <a asp-controller="Home" asp-action="Cheesecake">
                <button>Add to Cart</button>
                </a>
            </div>
        </div>
    </div>
    <div class="product-family">
        <div class="product">
            <div class="family-thumbnail text-center">
                <a asp-controller="Home" asp-action="Cheesecake">chocolate cake</a>
                <img src="../images/chocolate-cake.png" alt="Cakes" />
            </div>
            <div class="product-description">
                <p>PRICE:$50</p>
                <p>CALORIES: 350 - 750</p>
                <p>SIZE: 1KG</p>
                <p>SERVES: 6</p>
                <a asp-controller="Home" asp-action="Cheesecake">
                <button>Add to Cart</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="break"></div>
<div class="subscribe" id="SubscribeSection">
        <div class="subscribe-text">
            <h3 style="color: #fffaef;">Get the inside scoop!</h3>
            <p>Sign up for our newsletter to receive exclusive offers, delicious recipes,</p> 
            <p>and the latest pastry updates from Byte Bakes!</p>
        </div>
        <div>
             @if (TempData["SubscriptionMessage"] != null)
            {
                <div style="color: #DDC67E; font-weight: bold;">
                    @TempData["SubscriptionMessage"]
                </div>
            }

            <form method="post" action="Subscribe">
                <label for="email" style="color: #DDC67E;">Email</label> 
                <input type="email" name="email" required />
            <button type="submit">Sign Me Up!</button>
            </form>


        </div>

</div>

<script>
    document.getElementById("subscribeForm").addEventListener("submit", function () {
        // Clear the input field after submission
        document.getElementById("email").value = "";
    });
</script>