@{

    ViewData["Title"] = "Welcome to Byte-Bakes!";
}

<div class="text-center">
    <h1 class="display-4">Test</h1>
    <link rel="icon" href="@Url.Content("~/images/bytebakesimage.png")" />
    <p></p>
</div>
    