@{

    ViewData["Title"] = "Welcome to Byte-Bakes!";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Byte-Bakes!</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-5">Why Us?</h1>
    <h1 class="display-6">Our pastries are the best</h1>
    <p></p>
</div>
    